
.javascript-badge {
  background-color: #F7DF1E;
}
.wordpress-badge {
    background-color: #21759B;
}
.html-badge {
    background-color: #E34F26;
  }
.css-badge {
    background-color: #1572B6;
  }
.badge span {
    margin-left: 5px;
  }

  .c-badge {
    background-color: #2370ED;
  }
  .cpp-badge {
    background-color: #00599C;
  }
  .python-badge {
    background-color: #14354C;
  }
  .arduino-badge {
    background-color: #00979D;
  }
  .linkedin-badge {
    padding: 10px 100px;
    background-color: white;
  }
  .linkedin-badge .icon {
    height: 16px;
    filter: invert(24%) sepia(79%) saturate(744%) hue-rotate(194deg) brightness(92%) contrast(87%);
  }

  .linkedin-badge .text{
    position: relative;
    top: -5px;
  }
  .github-badge {
    padding: 10px 106px;
    background-color: white;
  }

  .github-badge .icon {
    height: 16px;
    filter: invert(11%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(94%) contrast(100%);
  }

  .github-badge .text{
    position: relative;
    top: -5px;
  }